---
import { t } from '../../lib/i18n';
import BlowfishAuthorLinks from './BlowfishAuthorLinks.astro';

export interface Props {
  name: string;
  headline?: string;
  image?: string;
  bio?: string;
  links?: { name: string; href: string }[];
}

const { name, headline, image, bio, links = [] } = Astro.props;
---

<div class="author flex mt-4">
  {image && <img src={image} alt={name} class="!mt-0 !mb-0 me-4 h-24 w-24 rounded-full object-cover" />}
  <div class="place-self-center">
    <div class="text-[0.6rem] uppercase leading-3 text-neutral-500 dark:text-neutral-400">{t('author.byline_title')}</div>
    <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">{name}</div>
    {headline && <div class="text-sm text-neutral-700 dark:text-neutral-400">{headline}</div>}
    {bio && <div class="text-sm text-neutral-700 dark:text-neutral-400">{bio}</div>}
    <div class="text-2xl sm:text-lg"><BlowfishAuthorLinks links={links} /></div>
  </div>
</div>
