---
import BlowfishArticleMetaBasic from './BlowfishArticleMetaBasic.astro';
import { t } from '../../lib/i18n';

export interface Props {
  title: string;
  href: string;
  summary?: string;
  date?: string;
  readingTime?: string;
  thumbnail?: string;
  showCards?: boolean;
  constrainItemsWidth?: boolean;
  external?: boolean;
  draft?: boolean;
}

const {
  title,
  href,
  summary,
  date,
  readingTime,
  thumbnail,
  showCards = false,
  constrainItemsWidth = false,
  external = false,
  draft = false,
} = Astro.props;

const cardClasses = [
  'article-link--simple flex flex-col md:flex-row relative',
  showCards && 'overflow-hidden rounded-lg border border-neutral-300 dark:border-neutral-600',
  constrainItemsWidth && 'max-w-prose',
].filter(Boolean);

const imgWrapperClasses = showCards ? 'flex-none relative overflow-hidden thumbnail' : 'flex-none relative overflow-hidden thumbnail thumbnail-shadow md:mr-7';
const contentClasses = showCards ? 'p-4' : 'mt-3 md:mt-0';
---

<article class:list={cardClasses}>
  {thumbnail && (
    <div class={imgWrapperClasses}>
      <img src={thumbnail} role="presentation" loading="lazy" decoding="async" class="not-prose absolute inset-0 w-full h-full object-cover" />
    </div>
  )}

  <div class={contentClasses}>
    <header class="items-center text-start text-xl font-semibold">
      <a href={href} target={external ? '_blank' : undefined} rel={external ? 'external' : undefined} class="not-prose before:absolute before:inset-0 decoration-primary-500 dark:text-neutral text-xl font-bold text-neutral-800 hover:underline hover:underline-offset-2">
        <h2>
          {title}
          {external && (
            <span class="cursor-default align-top text-xs text-neutral-400 dark:text-neutral-500">
              <span class="rtl:hidden">&#8599;</span>
              <span class="ltr:hidden">&#8598;</span>
            </span>
          )}
        </h2>
      </a>
      {draft && (
        <div class="ms-2">
          <span class="rounded-md border border-primary-400 px-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400">{t('article.draft')}</span>
        </div>
      )}
    </header>

    <div class="text-sm text-neutral-500 dark:text-neutral-400">
      <BlowfishArticleMetaBasic date={date} readingTime={readingTime} />
    </div>

    {summary && <div class="article-link__summary prose dark:prose-invert max-w-fit mt-1 line-clamp-3">{summary}</div>}
  </div>

  <div class="px-6 pt-4 pb-2"></div>
</article>
