---
import BlowfishHeroBackground from './BlowfishHeroBackground.astro';

export interface Props {
  backgroundImage?: string;
  featureImage?: string;
  backgroundImagePosition?: string;
  featureImagePosition?: string;
  blur?: boolean;
}

const { backgroundImage, featureImage, backgroundImagePosition, featureImagePosition, blur = false } = Astro.props;
---

{featureImage && (
  <div class="h-36 overflow-hidden rounded-md md:h-56 lg:h-72 nozoom">
    <img
      src={featureImage}
      alt=""
      role="presentation"
      class="h-full w-full object-cover nozoom"
      style={featureImagePosition ? `object-position:${featureImagePosition};` : undefined}
    />
  </div>
)}

<BlowfishHeroBackground image={backgroundImage} imagePosition={backgroundImagePosition} blur={blur} addHeaderSpace={false} />
